.page-nav-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 10; }
.page-nav-menu .middleContainer {
  max-width: 1200px;
  overflow: auto;
  margin: 0 auto;
  padding: 15px 10px; }
.page-nav-menu .middleContainer .toggle_menu {
  display: none;
  float: right;
  width: 32px;
  height: 32px;
  margin: 4px;
  background: url("../images/menu.svg") no-repeat center;
  background-size: cover;
  cursor: pointer;
  margin-left: 10px; }
.page-nav-menu .middleContainer .navMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 40px;
  overflow: auto;
  text-align: center; }
.page-nav-menu .middleContainer .navMenu .menuItem {
  line-height: 40px;
  margin: 0 7px;
  display: inline-block; }
.page-nav-menu .middleContainer .navMenu .menuItem a {
  line-height: 36px;
  margin: 2px 0;
  font-size: 1.2em;
  cursor: pointer;
  display: block;
  color: #fff;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  padding: 0 10px;
  border-bottom: 2px solid transparent; }
.page-nav-menu .middleContainer .navMenu .menuItem a:hover {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  border-bottom: 2px solid #fff; }
.page-nav-menu .middleContainer .navMenu .menuItem.menu-back a {
  font-weight: bold;
  color: #335f7f;
  background: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16), 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16), 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16), 0 2px 4px 0 rgba(0, 0, 0, 0.16); }

.page-view-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: table;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#1d4a89), to(#78a4c7));
  background-image: -webkit-linear-gradient(left top, #1d4a89, #78a4c7); }

.white-box {
  display: inline-block;
  min-width: 250px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  height: 80%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  text-align: left; }
  .white-box .box-head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 3;
    text-align: center; }
    .white-box .box-head .image {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      margin: 0 auto; }
    .white-box .box-head .image img {
      width: inherit;
      height: inherit;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%; }
  .white-box .box-body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 20px;
    margin-top: 60px;
    padding-top: 80px;
    color: #555; }
    .white-box .box-body h1 {
      font-size: 1em;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center; }
    .white-box .box-body h2 {
      font-size: 0.9em;
      font-weight: 700;
      text-transform: uppercase; }
    .white-box .box-body p {
      font-size: 0.9em; }
    .white-box .box-body a {
      text-decoration: underline !important; }

.page-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 10;
  text-align: center;
  color: #fff;
  padding: 15px 0; }
.page-footer * {
  display: inline-block;
  margin: 0 5px; }
.page-footer a {
  color: #fff;
  font-weight: normal;
  display: inline-block; }
.page-footer a:hover {
  text-decoration: underline; }

.noDisplay {
  display: none !important; }

.fLeft {
  float: left; }

.fRight {
  float: right; }

@media screen and (max-width: 600px) {
  .page-nav-menu .middleContainer .logo .title {
    display: none; }

  .page-nav-menu {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out; }
    .page-nav-menu.highlight {
      background: rgba(29, 74, 137, 0.7);
      transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out; }
    .page-nav-menu .middleContainer {
      padding: 10px; }
      .page-nav-menu .middleContainer .toggle_menu {
        display: block; }
      .page-nav-menu .middleContainer .navMenu.toggle {
        display: none;
        float: none;
        clear: both; }
        .page-nav-menu .middleContainer .navMenu.toggle .menuItem {
          display: block;
          margin: 3px 0;
          text-align: center; }

  .white-box .box-head .image {
    width: 80px;
    height: 80px; }
  .white-box .box-body {
    margin-top: 40px;
    padding-top: 60px; }

  .page-footer span.desktop {
    display: none !important; } }

/*# sourceMappingURL=template.css.map */
