<div class="ipapikas-homepage container">
    <div class="content">
        <div class="logo"><img src="/assets/me/images/me.jpg"/></div>
        <div class="title">Ioannis Papikas</div>
        <div class="subtitle">Product Manager @e-satisfaction.com, Web (PHP) Software Developer</div>
        <div class="social">
            <a class="social-link linkedin" href="https://www.linkedin.com/in/ioannis-papikas" target="_blank"></a>
            <a class="social-link twitter" href="https://twitter.com/ipapikas" target="_blank"></a>
            <a class="social-link github" href="https://github.com/ioannis-papikas" target="_blank"></a>
            <a class="social-link facebook" href="https://www.facebook.com/ipapikas" target="_blank"></a>
            <a class="social-link medium" href="https://medium.com/@ipapikas" target="_blank"></a>
        </div>
    </div>
</div>