<div class="ipapikas-section-contact container">
    <div class="white-box">
        <div class="box-head">
            <a href="/" target="_self" class="image"><img src="/assets/me/images/me.jpg"/></a>
        </div>
        <div class="box-body">
            <h1>Contact Me</h1>
            <p>I'm interested in <b>startups</b> and <b>deep technology</b> to make the world a better place ;-)</p>
            <p>If you have an interesting subject/project to discuss, including but not limited to <b>web services</b>,
                <b>architecture</b>, <b>efficiency</b> and <b>security</b>, I would be happy to talk with you!</p>
            <p>Feel free to contact me through <a href="mailto:me@ipapikas.me">email</a>, <a
                    href="https://www.linkedin.com/in/ioannis-papikas"
                    target="_blank">linkedin</a>, <a href="https://www.facebook.com/ipapikas"
                                                     target="_blank">facebook</a> or <a
                    href="https://twitter.com/ipapikas" target="_blank">twitter</a>.</p>
        </div>
    </div>
</div>