<div class="ipapikas-section-portfolio container">
    <div class="white-box">
        <div class="box-head">
            <a href="/" target="_self" class="image"><img src="/assets/me/images/me.jpg"/></a>
        </div>
        <div class="box-body">
            <h1>Portfolio</h1>
            <div class="project-item ratein">
                <div class="project-logo"><img src="/assets/me/images/portfolio/ratein.png"/></div>
                <div class="project-title">RateIn</div>
                <a href="https://ratein.io" target="_blank" class="project-link">https://ratein.io</a>
                <div class="project-subtitle">RateIn is a new way of getting ratings for skills from social networks.</div>
            </div>
            <div class="project-item loginbox">
                <div class="project-logo"><img src="/assets/me/images/portfolio/loginbox.png"/></div>
                <div class="project-title">loginBox</div>
                <a href="https://loginbox.io" target="_blank" class="project-link">https://loginbox.io</a>
                <div class="project-subtitle">Authentication, payments and memberships from a single box. loginBox makes web and mobile user management a lot simpler.</div>
            </div>
            <div class="project-item drovio">
                <div class="project-logo"><img src="/assets/me/images/portfolio/drovio.png"/></div>
                <div class="project-title">Drovio</div>
                <a href="https://drov.io" target="_blank" class="project-link">https://drov.io</a>
                <div class="project-subtitle">Drovio is a platform that enables the creation of web applications and websites in php using a built-in php SDK</div>
            </div>
            <h2>Open Source</h2>
            <div class="project-item panda">
                <div class="project-logo"><img src="/assets/me/images/portfolio/panda.png"/></div>
                <div class="project-title">Panda</div>
                <a href="https://github.com/PandaPlatform" target="_blank" class="project-link">GitHub</a>
                <div class="project-subtitle">A lightweight PHP framework</div>
            </div>
        </div>
    </div>
</div>
