<div class="ipapikas-section-about container">
    <div class="white-box">
        <div class="box-head">
            <a href="/" target="_self" class="image"><img src="/assets/me/images/me.jpg"/></a>
        </div>
        <div class="box-body">
            <h1>Work</h1>
            <div class="about-item work evertracker">
                <a href="http://evertracker.com" target="_blank" class="about-logo"><img
                        src="/assets/me/images/work/evertracker.png"/></a>
                <div class="about-title">Senior Software Developer, PHP</div>
                <div class="about-subtitle"><b>Evertracker GmbH</b>, Dusseldorf (DEU), <a href="http://evertracker.com"
                                                                                          target="_blank">http://evertracker.com</a>
                </div>
            </div>
            <div class="about-item work drovio">
                <a href="https://drov.io" target="_blank" class="about-logo"><img
                        src="/assets/me/images/work/drovio.png"/></a>
                <div class="about-title">Co-founder and CEO</div>
                <div class="about-subtitle"><b>Drovio Limited</b>, London (UK), <a href="https://drov.io"
                                                                                   target="_blank">https://drov.io</a>
                </div>
            </div>
            <div class="about-item work redback">
                <a href="https://drov.io" target="_blank" class="about-logo"><img
                        src="/assets/me/images/work/redback.png"/></a>
                <div class="about-title">Lead Software Developer, Project and Product Manager</div>
                <div class="about-subtitle"><b>Redback Platform</b> (replaced by Drovio), Thessaloniki (GR), <a
                        href="https://drov.io"
                        target="_blank">https://drov.io</a>
                </div>
            </div>
            <div class="about-item work mls">
                <a href="http://www.mlsshop.gr" target="_blank" class="about-logo"><img
                        src="/assets/me/images/work/mls.png"/></a>
                <div class="about-title">Web Software Developer and Web Project Manager</div>
                <div class="about-subtitle"><b>MLS Multimedia S.A.</b>, Athens (GR), <a href="http://www.mlsshop.gr"
                                                                                        target="_blank">http://www.mlsshop.gr</a>
                </div>
            </div>
            <div class="about-item work e-satisfaction">
                <a href="https://www.e-satisfaction.com" target="_blank" class="about-logo"><img
                        src="/assets/me/images/work/e-satisfaction.png"/></a>
                <div class="about-title">Full-Stack Developer (PHP, Javascript), Remote</div>
                <div class="about-subtitle"><b>e-satisfaction S.A.</b>, Athens (GR), <a
                        href="https://www.e-satisfaction.com"
                        target="_blank">https://www.e-satisfaction.com</a>
                </div>
            </div>
            <div class="about-item work public">
                <a href="http://www.public.gr" target="_blank" class="about-logo"><img
                        src="/assets/me/images/work/public.png"/></a>
                <div class="about-title">IT Sales Consultant</div>
                <div class="about-subtitle"><b>Publicworld S.A.</b>, Thessaloniki (GR), <a
                        href="http://www.public.gr"
                        target="_blank">http://www.public.gr</a>
                </div>
            </div>
            <h1>Education</h1>
            <div class="about-item edu ihu">
                <div class="about-logo"><img src="/assets/me/images/edu/ihu.png"/></div>
                <div class="about-title">M.Sc. in ICT Systems, 2016</div>
                <div class="about-subtitle"><b>International Hellenic University</b>, Thessaloniki (GR), <a
                        href="http://www.ihu.edu.gr"
                        target="_blank">http://www.ihu.edu.gr</a>
                </div>
            </div>
            <div class="about-item edu uom">
                <div class="about-logo"><img src="/assets/me/images/edu/uom.jpg"/></div>
                <div class="about-title">M.Sc. in Applied Informatics, 2013</div>
                <div class="about-subtitle"><b>University of Macedonia</b>, Thessaloniki (GR), <a
                        href="http://www.uom.gr/index.php"
                        target="_blank">http://www.uom.gr/index.php</a>
                </div>
            </div>
            <div class="about-item edu uom">
                <div class="about-logo"><img src="/assets/me/images/edu/uom.jpg"/></div>
                <div class="about-title">B.Sc. in Applied Informatics, 2010</div>
                <div class="about-subtitle"><b>University of Macedonia</b>, Thessaloniki (GR), <a
                        href="http://www.uom.gr/index.php"
                        target="_blank">http://www.uom.gr/index.php</a>
                </div>
            </div>
            <h1>Skills</h1>
            <h2>Agile</h2>
            <div class="about-item skills">
                <div class="about-logo"><img src="/assets/me/images/skills/scrum.png"/></div>
                <div class="about-title">Certified Scrum Master</div>
                <div class="about-subtitle"><b>Scrum Alliance</b>, license number 581361</div>
            </div>
            <ul>
                <li>Experience working with <b>Jira</b>, <b>Asana</b> and <b>Trello</b> in small and bigger projects
                </li>
                <li>Good teamwork player. Lead teams up to 4 people.</li>
            </ul>
            <h2>Development - DevOps</h2>
            <ul>
                <li>Excellent knowledge of <b>PHP</b> and
                    <b>Javascript</b> (and HTML5, CSS3/SASS, Ajax) for web applications
                </li>
                <li>Familiar with web frameworks like <b>laravel</b>, <b>cakePHP</b>, <b>AngularJs</b>, <b>Bootstrap</b>,
                    <b>jQuery</b></li>
                <li>Excellent knowledge of <b>RDBMS</b>, <b>MySQL</b></li>
                <li>Excellent knowledge of <b>TDD</b>, unit-tests and acceptance-tests</li>
                <li>Excellent knowledge of <b>Containers</b> and <b>Dependency Injection</b></li>
                <li>Good knowledge of <b>Continuous Integration</b> (TravisCI) and
                    <b>Continuous Deployment</b> pipelines (Buddy, BitBucket pipelines)
                </li>
                <li>Worked with Linux systems including <b>Linode</b> and <b>AWS</b></li>
                <li>Worked with Git (<b>GitHub</b> and <b>BitBucket</b>)</li>
                <li>Excellent knowledge of
                    <b>web platform architecture</b>. Experience in building platforms and big systems (https://drov.io)
                </li>
                <li>Good knowledge of Java and C# programming languages</li>
            </ul>
            <h2>Other</h2>
            <ul>
                <li>Worked in Artificial Intelligence projects, including neural networks</li>
                <li>Created <b>path finding algorithms</b> in text-based maps</li>
            </ul>
            <h1>Hobbies</h1>
            <ul>
                <li>#technology</li>
                <li>#movies</li>
                <li>#boxing</li>
            </ul>
            <h1>Recommended Books</h1>
            <ul class="books-list">
                <li>
                    <div class="book-title"><b>Scrum and XP from the Trenches</b></div>
                    <div class="book-author">Henrik Kniberg (<span class="book-year"
                                                                   style="font-style: italic">2007/2015</span>)
                    </div>
                </li>
                <li>
                    <div class="book-title"><b>Guide: Writing Testable Code</b></div>
                    <div class="book-author">Jonathan Wolter, Russ Ruffer, Misko Hevery (Google)</div>
                </li>
                <li>
                    <div class="book-title"><b>Pro Git</b></div>
                    <div class="book-author">Scott Chacon, Ben Straub</div>
                </li>
                <li>
                    <div class="book-title"><b>The Pragmatic Programmer: From Journeyman to Master</b></div>
                    <div class="book-author">Andrew Hunt, David Thomas (<span class="book-year"
                                                                              style="font-style: italic">1999</span>)
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>